VITE_SHINY_URL=
SHINY_HOST=X.X.X.X:4000

DATABASE_URL=
SEED_ON_START=true

VITE_API_URL=#Dejar vacío para usar la URL por defecto del backend
BACKEND_HOST=backend:8080
CORS_ORIGINS=

SERVER_IP=Y.Y.Y.Y
VITE_DISABLE_AUTH=false
JWT_SECRET=

# Se deben agregar los enlaces de Enketo de cada formulario sin la barra final
VITE_CAPTURA_BASE=#IMPORTANTE: Ingresar la base de Enketo, hasta el .com, sin la barra final
VITE_DDC_PQRSD=
VITE_DDC_CALPROC=
VITE_DDC_COTEL=
VITE_DDC_COVRT=
VITE_DDC_COPR_CAPINS=
VITE_DDC_COPR_STDYPRTC=
VITE_DDC_SATEXP_PR=
VITE_DDC_SATEXP_CT=
VITE_DDC_SATEXP_CV=